.game {
  padding: 5px;
}

.wrapper {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 30px auto;
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    margin: 5px;
  }
}

.game .turns {
  font-size: 2em;
}

/* single card */
.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 4px solid #0c0e0db2;
  border-radius: 6px;
}

/* fron of card - the picture */
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of the card - cover */
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
